<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/imports :: imports"></div>
    <div th:replace="fragments/imports :: style-custom"></div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="'Overview for date ' + ${currentDate}"></title>
</head>
<body>
    <div class="container-fluid">

        <div th:replace="fragments/nav :: nav-header"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h2 class="text-center" th:text="'Context: ' + ${contextId}"></h2>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h3>
                                <a th:class="${hidePreviousArrow} ? hidden" th:href="@{'/dayView/' + ${contextId} + '/' + ${previousDate}}"><i class="fa fa-backward" aria-hidden="true"></i></a>
                                <span th:text="'Date: ' + ${currentDate}"></span>
                                <a th:class="${hideNextArrow} ? hidden" th:href="@{'/dayView/' + ${contextId} + '/' + ${nextDate}}"><i class="fa fa-forward" aria-hidden="true"></i></a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
                    <li class=""><a data-toggle="tab" href="#batches">Batches</a></li>
                    <li class=""><a data-toggle="tab" href="#sales">Sales</a></li>
                    <li class=""><a data-toggle="tab" href="#inventory">Inventory</a></li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">
                        <div class="row text-center">
                            <div class="col-xs-3">
                                <h4>Cashflows</h4>
                                <table class="table table-responsive rounded-bg gray-bg">
                                    <tbody>
                                    <tr class="blue-text">
                                        <th>Incoming</th>
                                        <td th:text="'$' + ${viewContext.positiveCashflow}"></td>
                                    </tr>
                                    <tr class="red-text">
                                        <th>Outgoing</th>
                                        <td th:text="'$' + ${viewContext.negativeCashflow}"></td>
                                    </tr>
                                    <tr th:classappend="${viewContext.profit} &lt; 0 ? red-text : blue-text">
                                        <th>Total</th>
                                        <td th:text="'$' + ${viewContext.profit}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-3">
                                <h4>Sales</h4>
                                <table class="table table-responsive rounded-bg gray-bg">
                                    <tbody>
                                    <tr class="blue-text">
                                        <th>Potential Sales</th>
                                        <td th:text="${viewContext.totalSales}"></td>
                                    </tr>
                                    <tr class="blue-text">
                                        <th>Fulfilled</th>
                                        <td th:text="${viewContext.totalFulfilledSales}"></td>
                                    </tr>
                                    <tr class="red-text">
                                        <th>Unfulfilled</th>
                                        <td th:text="${viewContext.totalUnfulfilledSales}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-6">
                                <h4>Batches</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                    <tr>
                                        <th>Recipe</th>
                                        <th>Step</th>
                                        <th>Days in Step</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="batch : ${viewContext.context.batches}">
                                        <td th:text="${batch.recipe.name}"></td>
                                        <td th:text="${batch.currentStep}"></td>
                                        <td th:text="${batch.daysInStep}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="inventory" class="tab-pane">
                        <table class="table rounded-bg gray-bg">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="inventoryItem : ${viewContext.context.inventory}">
                                    <td th:text="${inventoryItem.name}"></td>
                                    <td th:text="${inventoryItem.category}"></td>
                                    <td th:text="${inventoryItem.quantity}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="batches" class="tab-pane">
                        <div class="row text-center">
                            <div class="col-xs-6">
                                <h4>Batches in Progress</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                        <tr>
                                            <th>Batch id</th>
                                            <th>Recipe</th>
                                            <th>Current Step</th>
                                            <th>Days in Step</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="batch : ${viewContext.context.batches}">
                                            <td th:text="${batch.batchId}"></td>
                                            <td th:text="${batch.recipe.name}"></td>
                                            <td th:text="${batch.currentStep}"></td>
                                            <td th:text="${batch.daysInStep}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-3">
                                <h4>By Step</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                        <tr>
                                            <th>Step</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="productEntry: ${viewContext.batchesByStep}">
                                            <td th:text="${productEntry.key}"></td>
                                            <td th:text="${productEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalBatches}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-3">
                                <h4>By Product</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Count</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="productEntry: ${viewContext.batchesByProduct}">
                                        <td th:text="${productEntry.key}"></td>
                                        <td th:text="${productEntry.value}"></td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td th:text="${viewContext.totalBatches}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="sales" class="tab-pane">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h4>Sales by Product</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="saleEntry: ${viewContext.salesByProduct}">
                                            <td th:text="${saleEntry.key}"></td>
                                            <td th:text="${saleEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalSales}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-4">
                                <h4>Fulfilled Sales by Product</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="saleEntry: ${viewContext.fulfilledSalesByProduct}">
                                            <td th:text="${saleEntry.key}"></td>
                                            <td th:text="${saleEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalFulfilledSales}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-4">
                                <h4>Unfulfilled Sales by Product</h4>
                                <table class="table rounded-bg gray-bg">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="saleEntry: ${viewContext.unfulfilledSalesByProduct}">
                                            <td th:text="${saleEntry.key}"></td>
                                            <td th:text="${saleEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalUnfulfilledSales}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</html>