<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/imports :: imports"></div>
    <div th:replace="fragments/imports :: style-custom"></div>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="'Overview for date ' + ${currentDate}"></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a th:text="previous" th:href="@{'/dayView/' + ${contextId} + '/' + ${previousDate}}"></a>
                |
                <a th:text="next" th:href="@{'/dayView/' + ${contextId} + '/' + ${nextDate}}"></a>
            </div>
            <div class="col-xs-12">
                <div class="text-center">
                    <h2>Overview</h2>
                    <h3 th:text="'Context: ' + ${contextId}"></h3>
                    <h3 th:text="'Date: ' + ${currentDate}"></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active"><a data-toggle="tab" href="#inventory">Inventory</a></li>
                    <li class=""><a data-toggle="tab" href="#batches">Batches</a></li>
                    <li class=""><a data-toggle="tab" href="#sales">Sales</a></li>
                </ul>
                <div class="tab-content">
                    <div id="inventory" class="tab-pane active">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Category</th>
                                    <th>Quantity</th>
                                    <th>Reorder Threshold</th>
                                    <th>Reorder Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="inventoryItem : ${viewContext.context.inventory}">
                                    <td th:text="${inventoryItem.name}"></td>
                                    <td th:text="${inventoryItem.category}"></td>
                                    <td th:text="${inventoryItem.quantity}"></td>
                                    <td th:text="${inventoryItem.reorderThreshold}"></td>
                                    <td th:text="${inventoryItem.reorderQuantity}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="batches" class="tab-pane">
                        <div class="row text-center">
                            <div class="col-xs-6">
                                <h4>Batches in Progress</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Batch id</th>
                                            <th>Recipe</th>
                                            <th>Current Step</th>
                                            <th>Days in Step</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="batch : ${viewContext.context.batches}">
                                            <td th:text="${batch.batchId}"></td>
                                            <td th:text="${batch.recipe.name}"></td>
                                            <td th:text="${batch.currentStep}"></td>
                                            <td th:text="${batch.daysInStep}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-3">
                                <h4>By Step</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Step</th>
                                            <th>Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="productEntry: ${viewContext.batchesByStep}">
                                            <td th:text="${productEntry.key}"></td>
                                            <td th:text="${productEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalBatches}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-3">
                                <h4>By Product</h4>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Count</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="productEntry: ${viewContext.batchesByProduct}">
                                        <td th:text="${productEntry.key}"></td>
                                        <td th:text="${productEntry.value}"></td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td th:text="${viewContext.totalBatches}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="sales" class="tab-pane">
                        <div class="row text-center">
                            <div class="col-xs-4">
                                <h4>Sales by Product</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="saleEntry: ${viewContext.salesByProduct}">
                                            <td th:text="${saleEntry.key}"></td>
                                            <td th:text="${saleEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalSales}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-4">
                                <h4>Fulfilled Sales by Product</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="saleEntry: ${viewContext.fulfilledSalesByProduct}">
                                            <td th:text="${saleEntry.key}"></td>
                                            <td th:text="${saleEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalFulfilledSales}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-4">
                                <h4>Unfulfilled Sales by Product</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Sales</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="saleEntry: ${viewContext.unfulfilledSalesByProduct}">
                                            <td th:text="${saleEntry.key}"></td>
                                            <td th:text="${saleEntry.value}"></td>
                                        </tr>
                                        <tr>
                                            <td>TOTAL</td>
                                            <td th:text="${viewContext.totalUnfulfilledSales}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</html>