<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/imports :: imports"></div>
    <div th:replace="fragments/imports :: style-custom"></div>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Error</title>
</head>
<body>
    <div class="container-fluid">

        <div th:replace="fragments/nav :: nav-header"></div>

        <div class="col-xs-12">
            <div class="text-center">
                <h3>Error occurred</h3>
            </div>
            <hr />
            <div class="text-center rounded-background">
                <p th:text="${message}"></p>
                <a href="javascript:history.back()">Go Back</a>
            </div>
        </div>

    </div>
</body>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</html>